aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
gql==3.0.0a5
graphql-core==3.1.2
idna==2.10
multidict==5.1.0
requests==2.25.0
typing-extensions==3.7.4.3
urllib3==1.26.2
websockets==8.1
yarl==1.6.3
